:root {
  --main-yellow: #f2ad24;
  --light-beige: #edebe6;
  --dark-purple: #3e2f5b;
  --main-green: #38b000;
  --main-red: #d90429;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--light-beige);
  background-blend-mode: multiply;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 1;
  height: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  list-style: none;
}

.navbar ul li {
  padding: 2rem;

}

.navbar .logo {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.navbar .start-button {
  background-color: var(--dark-purple);
  color: var(--light-beige);
  padding: 1rem 1.5rem;
  letter-spacing: 3px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.navbar .start-button:hover {
  background-color: var(--light-beige);
  color: var(--dark-purple);
}

.home-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-page h1 {
  font-size: 4rem;
  color: var(--dark-purple);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  background-color: var(--light-beige);
  padding: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.home-page button {
  font-size: 1.5rem;
  color: var(--light-beige);
  text-transform: capitalize;
  letter-spacing: 4px;
  margin-bottom: 1rem;
  background-color: var(--dark-purple);
  padding: 1rem 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home-page button:hover {
  background-color: var(--light-beige);
  color: var(--dark-purple);
  border: 1px solid var(--dark-purple);
}

.practice-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.practice-section .word-section {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--main-yellow);
  margin-bottom: 4rem;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 10px var(--dark-purple);
}

.practice-section .options-section {
  margin-bottom: 4rem;
}

.practice-section .options-section button {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--dark-purple);
  background-color: var(--light-beige);
  border: 1px solid #3e2f5b55;
  cursor: pointer;
  outline: none;
  padding: 1rem 1.5rem;
  margin: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.7);

}

.practice-section .options-section button:hover {
  background-color: var(--main-yellow);
  color: var(--light-beige);
}

.practice-section .answer-section {
  color: var(--light-beige);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 3rem;
}

.practice-section .answer-section .answer {
  padding: .7rem 1.2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.practice-section .answer-section .right {
  background-color: var(--main-green);
}

.practice-section .answer-section .wrong {
  background-color: var(--main-red);
}

.practice-section .progress-section {
  display: flex;
  flex-direction: column;
  color: var(--light-beige);
  font-size: 20px;
  width: calc(100% - 2rem);
  justify-content: center;
}

.practice-section .progress-section label {
  font-weight: 600;
  margin-bottom: 1rem;
  text-shadow: 0 0 3px var(--dark-purple);
}

.practice-section .progress-section #progress {
  width: 100%;
  height: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.practice-section .progress-section #progress::-webkit-progress-bar {
  background-color: var(--light-beige);

}

.practice-section .progress-section #progress::-webkit-progress-value {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(75, 59, 105, 1) 77%, rgba(62, 47, 91, 1) 100%);
}

.practice-section .progress-section #progress::-moz-progress-bar {
  background-color: var(--light-beige);

}

.practice-section .progress-section #progress::-moz-progress-value {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(75, 59, 105, 1) 77%, rgba(62, 47, 91, 1) 100%);
}

.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.rank-section .card {
  background-color: var(--light-beige);
  padding: 2rem;
  border-radius: 1rem;
  font-size: 30px;
  font-weight: 600;
  color: var(--dark-purple);
  margin-bottom: 3rem;

}

.rank-section .card span {
  color: var(--main-yellow);
  font-weight: 800;
  text-shadow: 0 0 1px var(--dark-purple);
}

.try-again-button {
  background-color: var(--dark-purple);
  color: var(--light-beige);
  padding: 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.try-again-button:hover {
  background-color: var(--main-yellow);
}